# 15740
A+B -9

In [2]:
print(sum(list(map(int,input().split()))))

1 2
3

# 5575
타임카드

In [5]:
for i in range(3):
    a,b,c,d,e,f=map(int,input().split())
    start=a*3600+b*60+c
    end=d*3600+e*60+f
    time=end-start
    h=time//3600
    m=(time-h*3600)//60
    s=time-h*3600-m*60
    print(h,m,s)

9 0 0 18 0 0
9 0 0
9 0 1 18 0 0
8 59 59
12 14 52 12 15 30
0 0 38

# 2445
별 찍기 -8

In [9]:
a=int(input())
for i in range(1,a+1):
    print('*'*i+' '*(2*a-2*i)+'*'*i)
for i in range(a-1,0,-1):
    print('*'*i+' '*(2*a-2*i)+'*'*i)

5
*        *
**      **
***    ***
****  ****
**********
****  ****
***    ***
**      **
*        *

# 2592
대표값

In [10]:
import statistics
ans=[0]*10
for i in range(10):
    ans[i]=int(input())
t=sum(ans)
m=statistics.mode(ans)
print(t//10)
print(m)

10
40
30
60
30
20
60
30
40
50
37
30

# 10989
수 정렬하기 3

In [22]:
a = int(input())
b=[0]*10001
for i in range(a):
    k=int(input())
    b[k-1]+=1
for i in range(10001):
    if b[i] !=0:
        for j in range(b[i]):
            print(i+1)

10
5
2
3
1
4
2
3
5
1
7
1
1
2
2
3
3
4
5
5
7

숫자를 그 배열에 입력하고

배열의 인덱스 값을 설정하는 것으로 시간 단축

In [ ]:
import sys
a = int(sys.stdin.readline())
b=[0]*10001
for i in range(a):
    k=int(sys.stdin.readline())
    b[k-1]+=1
for i in range(10001):
    if b[i] !=0:
        for j in range(b[i]):
            print(i+1)

# 16212
정열적인 정렬

In [31]:
a=int(input())
k=list(map(int,input().split()))
k.sort()
for i in range(a):
    print(k[i],end=' ')

6
14 5 8 7 1 10
1 5 7 8 10 14