# 13277
큰 수 곱셈

In [4]:
a,b=map(int,input().split())
print(a*b)

1 2
2

# 5717
상근이의 친구들

In [5]:
while 1:
    a,b=map(int,input().split())
    if a==b==0:break
    print(a+b)

2 2
4
2 3
5
5 5
10
1 1
2
0 0

# 4740
거울,오!거울

In [34]:
while 1:
    a=input()
    if a=='***':break
    b=[]
    for i in range(len(a)-1,-1,-1):
        b.append(a[i])
    for i in range(len(b)-1):
        print(b[i],end='')
    print(b[-1])

AMBULANCE
ECNALUBMA
Evian
naivE
madam, i'm adam
mada m'i ,madam
****
****
***

# 2702
초6 수학

In [41]:
import math
for i in range(int(input())):
    a,b=map(int,input().split())
    print(math.lcm(a,b),end=' ')
    print(math.gcd(a,b))

3
5 10
10 5
7 23
161 1
42 56
168 14

# 23278
영화 평가

In [51]:
a,b,c=map(int,input().split())
score=list(map(int,input().split()))
score.sort()
for i in range(b):
    del score[0]
for i in range(c):
    del score[-1]
print(sum(score)/(a-b-c))

10 2 2
1 1 0 0 1 1 0 1 0 2
0.6666666666666666

# 13241
최소공배수

In [55]:
import math
a,b=map(int,input().split())
print(math.lcm(a,b))

121 199
24079

# 25344
행성 정렬

In [59]:
import math
a=int(input())
b=list(map(int,input().split()))
ans=1
for i in range(a-2):
    ans = math.lcm(ans,b[i])
print(ans)

5
1 2 3
6