# 16430
제리와 톰

In [3]:
a,b=map(int,input().split())
print(b-a,b)

5 8
3 8

# 14489
치킨 두마리

In [14]:
a,b=map(int,input().split())
c=int(input())
ans=a+b
if ans<2*c:
    print(ans)
else:
    print(ans-2*c)

1000000000 1000000000
1000000001
2000000000

# 1547
공

In [24]:
a=int(input())
c=[1,0,0]
for i in range(a):
    x,y=map(int,input().split())
    x-=1
    y-=1
    temp=c[x]
    c[x]=c[y]
    c[y]=temp
print(c.index(1)+1)

9
1 2
3 2
1 2
2 1
2 1
3 2
1 3
3 1
1 2
1

# 1233
주사위

In [42]:
a,b,c=map(int,input().split())
k=[0]*(a+b+c+1)
for i in range(1,a+1):
    for j in range(1,b+1):
        for t in range(1,c+1):
            n=i+j+t
            k[n]+=1
x=max(k)
ans=k.index(x)
print(ans)

3 2 3
5

# 5996
애너그램

In [60]:
for i in range(int(input())):
    x,y=input().split()
    a1=list(x)
    a2=list(y)
    a1.sort()
    a2.sort()
    if a1==a2:
        print(f'{x} & {y} are anagrams.')
    else:
        print(f'{x} & {y} are NOT anagrams.')

3
blather reblath
blather & reblath are anagrams.
maryland landam
maryland & landam are NOT anagrams.
bizarre brazier
bizarre & brazier are anagrams.

# 11651
좌표 정렬하기 2

In [62]:
a=int(input())
ans=[]
for i in range(a):
    x,y=map(int,input().split())
    ans.append([y,x])    # y랑 x를 바꿔서 받아서
ans.sort()               # y를 기준으로 정렬을하고
for i in range(len(ans)):
    print(ans[i][1],ans[i][0])  # 다시 원상태로 출력

5
0 4
1 2
1 -1
2 2
3 3
1 -1
1 2
2 2
3 3
0 4