# 2798
블랙잭

In [23]:
n,m = map(int,input().split())
card = list(map(int,input().split()))
ans = 0
for i in range(n):
    for j in range(i+1,n):       # 카드를 총 3장을 받는데 그 카드를
        for k in range(j+1,n):   # 앞에 순서부터 뽑는다
            if card[i]+card[j]+card[k]>m: continue 
            else :
                ans = max(ans, card[i]+card[j]+card[k])
print(ans)

10 500
93 181 245 214 315 36 185 138 216 295
497

# 11050
이항계수

In [37]:
a,b = map(int,input().split())
up = 1
down1 = 1
down2 = 1

for i in range(a):
    up *= (a-i)
for i in range(b):
    down1 *=(b-i)
for i in range(a-b):
    down2 *=(a-b-i)
ans = int(up/(down1*down2))
print(ans)

5 2
10

# 2440
별찍기 -3

In [38]:
a = int(input())
while 1:
    if a==0:break
    print('*'*a)
    a-=1

5
*****
****
***
**
*

# 10039
평균점수

In [44]:
score =[]
for i in range(5):
    a = int(input())
    score.append(a)
for i in range(5):
    if score[i]<40:
        score[i]=40
total = sum(score)
ans = int(total/5)
print(ans)

10
65
100
30
95
68

# 10817
세수

In [45]:
a = list(map(int,input().split()))
a.sort()
print(a[1])

20 30 10
20

# 2441
별찍기 -4

In [58]:
a = int(input())
i = 0
while 1:
    if a==0:break
    print(' '*i+'*'*a)
    a-=1
    i+=1

5
*****
 ****
  ***
   **
    *

# 11721
열 개씩 끊어 출력

In [66]:
a = input()
b = len(a)
c = (b//10)+1
for i in range(c):
    print(a[0+i*10:10+10*i])

OneTwoThreeFourFiveSixSevenEightNineTen
OneTwoThre
eFourFiveS
ixSevenEig
htNineTen

# 11719
그대로 출력하기 2

In [ ]:
while True:
    try:
        print(input())
    except EOFError:
        break

# 2242
별 찍기 -5

In [69]:
a = int(input())
for i in range(a):
    print(' '*(a-1-i)+'*'*(2*i+1))

5
    *
   ***
  *****
 *******
*********

# 10870
피보나치 수 5

In [86]:
a = int(input())
x = 0
y = 1
z = 0   # 이걸 선언 안해주면 런타임 에러 in BOJ
while 1:
    if a == 1:
        print(1)
        break
    for i in range(a-1):
        z = y + x
        x = y
        y = z
    print(z)
    break

17
1597

# 2747
피보나치수

In [99]:
a = int(input())
x = 0
y = 1
z = 0   # 이걸 선언 안해주면 런타임 에러 in BOJ
while 1:
    if a == 1:
        print(1)
        break
    for i in range(a-1):
        z = y + x
        x = y
        y = z
    print(z)
    break

10
55

# 1924
2007년

In [139]:
day = [31,28,31,30,31,30,31,31,30,31,30,31]
week = ['SUN','MON','TUE','WED','THU','FRI','SAT']
a,b = map(int,input().split())
mon = a-1
day_sum = day[0:mon]
total = 0
ans = 0
for i in range(len(day_sum)):
    total += day_sum[i]
total += b
ans = total%7
print(week[ans])

3 14
WED

# 1357
뒤집힌 덧셈

In [177]:
a ,b =map(int,input().split())
a1 = str(a)
b1 = str(b)
a2=a1[::-1]   #문자열을 reverse 하는 방법
b2=b1[::-1]
a3=int(a2)
b3=int(b2)
s = a3+b3
s1 = str(s)
s2 = s1[::-1]
print(int(s2))

456 789
1461